body{
background-color:#160B2B;
font-family:Georgia,'Times New Roman',Times,serif;
text-align:center;
color:white;
}

.corpo{
background-color:#3B1E5A;
width:500px;
margin:50px auto;
padding:30px;
border-radius:15px;
}

h1{
margin-bottom:30px;
}

label{
display:block;
margin-bottom:8px;
}

input,select{
width:80%;
padding:10px;
border-radius:8px;
border:none;
font-family:Georgia,'Times New Roman',Times,serif;
}

button{
background-color:#A855F7;
color:white;
border:none;
margin:20px auto;
padding:12px 20px;
border-radius:8px;
font-family:Georgia,'Times New Roman',Times,serif;
cursor:pointer;
}

button:hover{
background-color:#9333EA;
}

#resultado{
margin-top:20px;
line-height:1.8;
}

